#carte {
    height: 100vh;
}

* {
    font-family: 'Nunito', sans-serif;
}

.leaflet-routing-add-waypoint {
    display: none !important;
}

body {
    margin: 0;
}

h1 {
    margin: 6px
}

.leaflet-right .leaflet-control {
    float: left !important;
}

.leaflet-left .leaflet-control {
    float: right !important;
}

.leaflet-routing-geocoders .leaflet-routing-geocoder input:focus-visible,
.leaflet-routing-geocoders .leaflet-routing-geocoder input:focus,
.leaflet-routing-geocoders .leaflet-routing-geocoder input:active,
.leaflet-routing-geocoders .leaflet-routing-geocoder input:hover,
.leaflet-routing-geocoders .leaflet-routing-geocoder input {
    width: -webkit-fill-available;
    padding: 6px 11px;
    border: none;
    border-radius: 6px;
    background-color: rgb(228, 228, 228);
}

div.leaflet-control-container div.card-info {
    right: auto;
    margin: 10px 0 0 10px;
    height: -webkit-fill-available;
    padding-bottom: 10px;
}

div.card-info div.leaflet-routing-container {
    right: auto;
    margin: 0;
    height: -webkit-fill-available;
    padding: 8px !important;
}

div.leaflet-control-container {
    height: -webkit-fill-available;
}

div.leaflet-control-container div.zoom {
    right: 0;
    margin-right: 10px;
    height: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

div.leaflet-control-container div.zoom .leaflet-control-zoom {
    margin-bottom: 20px;
}

div.leaflet-routing-geocoder .leaflet-routing-remove-waypoint:after {
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    z-index: 1;
    right: 1px;
    top: 4px;
    bottom: 0;
    margin: auto;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    content: "\00d7";
    text-align: center;
    cursor: pointer;
    color: rgb(109, 109, 109);
    background: transparent;
    padding-bottom: 16px;
    margin-top: -16px;
    padding-right: 4px;
    line-height: 1;
}